header{
    width:100%;
    height:500px;
    background: url (0001.jpg);
    background-size:cover;
    background-position:center;
}

.head_container{
    
    padding: 10px;
    display:flex;
    justify-content:space-between;
}

h1{
    font-size:20px;
}

header ul{
    list-style-type:none;
}

header ul li{

    display:inline-block;
}
header h2{

    font-size:50px;
    color:navajowhite;
    margin-top:220px;
    text-align:center;
}

nav ul{

    list-style-type:none;
    text-align:center;
}

nav li{

    display:inline-block;
    width:150px;
    text-align:center;
    border-left:1px dotted black;
}

.last_child {
    border-right: 1px dotted black;
}

.item_1all{

    border:dashed 2px;
    font-size:28px;
}

.mokuji{
    text-align:center;
    font-size:10px;
}


.container{
    width:800px;
    margin:0px auto;
    display:flex;
}

.item_1{

    width:70%;
}

.item_2 {
    margin-left: 200px;
    width: 30%;
}

.right_list {
    margin-right: 0;
    margin:0 0 0 auto;
}

.right_list ul {

    font-size:20px;
    list-style-type:none;

}

.right_list_index{

    font-size:25px;

    border-bottom:double; 
}
.h4_top {
    font-size: 25px;
    padding-left: 10px;
    border-left: 10px solid #0269a2;
    background-color: aliceblue;
    box-shadow: 2px 2px #d3d3d3;
}
.h5_top {
    padding-left: 10px;
    border-left: 10px solid #0269a2;
    background-color: aliceblue;
    box-shadow: 2px 2px #d3d3d3;
}
.h6_top {
    padding-left: 10px;
    border-left: 10px solid #0269a2;
    background-color: aliceblue;
    box-shadow: 2px 2px #d3d3d3;
}

.quary {
    padding: 10px;
    border-left: 10px solid black;
    font-size: 25px;
    background-color: aliceblue;
    box-shadow: 2px 2px #d3d3d3;
}

input
{   color:black;
    width:300px;
    border:none;
    border-bottom:solid 1px lightgray;
    padding:10px;
}

input:focus
{
    outline:none;
    border-bottom:solid 1px aqua;

}

.button{
    text-align:right;
}

.button input{
    background-color:white;
    padding:5px 5px;
    color:black;
    border-radius:5px;
    box-shadow:2px 2px #d3d3d3;
    border:none;
    margin-right:5px;
}

footer {
    background-color: #CCFFFF;
}
body {
    background-color: #f5f5f5;
    width:1200px;
    margin: 0 auto;
}
.mokuji {
    font-size: 20px;
}


.h4_container {
    height: 300px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
}
.h4_text {
    font-size: 22px;
    font-weight: bold;
}

.h5_container {
    height: 300px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
}

.jugyou {
    text-align: center;
    height: 70%;
}

.h5_text {
    font-size: 22px;
    font-weight: bold;
}
.h6_container {
    margin: 0px auto;
    height: 300px;
    display: flex;
    justify-content:center;
}

.test{
 
    height: 70%;
}

.h6_text {
    font-size:22px;
    font-weight:bold;
}
